{% extends "jpparse/index.html" %}

{% block content %}
<h1>Class Listing</h1>
<br/>
<form action="{% url jpparse.views.searchview %}" method="GET" class="well form-search">
	<input type="text" name="q" class="input-xxlarge search-query">
	<input type="submit" value="Search" class="btn">
</form>
{% if query %}
<h3> Results for '{{query|escape}}' </h3>
<table class="table table-striped">
	<thead>
	<tr>
		<th>Class Name</th>
<!--		<th>Methods</th> -->
	</tr>
	</thead>
	<tbody>
	{% for class in results %}
		<tr>
			<td><a href="{% url class_detail_view class.id %}">{{class.name}}</a></td>
<!--			<td><ul>
			{% for method in class.methods.all %}
				<li><a href="{% url method_detail_view method.id %}">{{method.name}}</a></li>
			{%endfor%} 
			</ul></td> -->
		</tr>
	{% endfor %}
	</tbody>
</table>
{% else %}
<p> No Query Given </p>
{% endif %}
{% if is_paginated %}
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>
{% endif %}

{% endblock %}
